.jumbotron {
  padding: 6rem 1rem;
  background-color: #d3d3d3;
}

#book {
  padding: 2rem 1rem;
  background-color: #d3d3d3;
}

#Kontak {
  padding: 2rem 1rem;
}

.card-text {
  text-decoration: none;
}

.grisaia {
  padding-top: 2rem;
}
